dask[complete] >= 2.16.*
numpy >= 1.10
scipy >= 1.5.*
pylops >= 1.9.2
matplotlib >= 3.3.*
scikit-image >= 0.17.*
pandas >= 1.0.5
joblib >= 0.17.*
numba >= 0.50.1
sphinx == 2.1.*
sphinx_rtd_theme == 0.4.*