numpy >= 1.23.*, < 2
scipy >= 1.9.*, < 2
dask >= 2022.06.*, < 2022.12
sparse >= 0.13.*, < 1
numba >= 0.56.*, < 1

# GPU dependencies ------------------------------------------------------------
cupy >= 11.0.*, < 12
cudnn
cutensor
nccl
cusparselt
